@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap');

*, * > * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: #083045;
    background-image: url('../topography.svg');
    background-attachment: fixed;
}

.H_ib_body {
    -webkit-transform: translateX(50%) !important;
        -ms-transform: translateX(50%) !important;
            transform: translateX(50%) !important;
    right: 2rem !important;
}

.H_ib_content {
    width: 20rem !important;
}

.H_ib_content .title {
    margin-bottom: .5rem;
    font-size: 1rem;
}

.H_ib_content .info {
    margin-bottom: .3rem;
    font-style: italic;
}

.H_ib_content .opening-hours {
    margin-top: .4rem;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 2rem;
}

.feedback {
    -webkit-box-shadow: inset 0 0 0 2px red !important;
            box-shadow: inset 0 0 0 2px red !important;
}

nav {
    position: absolute;
    top: 20px;
    right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.logo {
    position: absolute;
    top: 20px;
    left: 10px;
}

.logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    /* font-family: 'Plovdiv Regular'; */
    font-size: 1.25rem;
}

nav a:hover {
    color: rgba(255,255,255, 0.8);
}

.container {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 80vw;
    margin: auto;
}

.search {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 15%;
    text-align: center;
}

.search-wrapper .heading {
    font-size: 4.2rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.search-wrapper .subheading {
    font-weight: lighter;
    font-size: 1.23rem;
}

@media (orientation: portrait) {
    .search {
        margin-top: 37.5%;
    }
}

@media (max-width: 920px) {
    .H_l_horizontal {
        display: none !important;
    }
    
    .H_ib_content .title {
        margin-bottom: .35rem;
        font-size: .925rem;
    }
    
    .H_ib_content .info {
        margin-bottom: .15rem;
        font-style: italic;
    }
    
    .H_ib_content .opening-hours {
        margin-top: .3rem;
    }
    
    .container {
        width: 90vw;
    }

    nav a {
        font-size: 0.875rem;
    }

    .search-wrapper .heading {
        font-size: 3.4rem;
    }

    .search-wrapper .subheading {
        font-size: 1rem;
    }
}

@media (max-width: 622px) {
    .H_ib_content {
        width: 18rem !important;
    }
    
    .H_ib_content .title {
        margin-bottom: .35rem;
        font-size: .85rem;
    }

    .H_ib_content p {
        font-size: 0.775rem;
        line-height: 20px;
    }

    .feedback {
        -webkit-box-shadow: inset 0 0 0 1px red !important;
                box-shadow: inset 0 0 0 1px red !important;
    }

    .container {
        width: 95vw;
    }

    nav a {
        font-size: 0.775rem;
    }

    .logo a {
        font-size: 1.125rem;
    }

    .search-wrapper .heading {
        font-size: 2.6rem;
    }

    .search-wrapper .subheading {
        font-size: .875rem;
    }
}

@media (max-width: 468px) {
    .logo a {
        font-size: 1rem;
    }

    .H_ib_content {
        width: 15rem !important;
    }
}

@media (max-width: 400px) {
    nav a {
        font-size: 0.775rem;
    }

    .search-wrapper .heading {
        font-size: 2rem;
    }

    .search-wrapper .subheading {
        font-size: .775rem;
    }
}

@media (max-width: 320px) {
    .H_ib_content {
        width: 12rem !important;
    }
}